<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="currentDateTime" datePattern="yyyy-MM-dd_HH-mm-ss" timeReference="contextBirth"/>

    <logger name="br.com.looplex" level="ALL" />
    <logger name="br.com.looplex.antlr4.util" level="INFO" />
    <logger name="br.com.looplex.antlr4.parser_builders" level="INFO" />
    <logger name="br.com.looplex.context" level="DEBUG" />

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %boldCyan([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %highlight([%-5p]) %cyan([%-30c{1}:%5L]) %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/Looplex_Lawtex_ST3_Plugin/logs/log_${currentDateTime}.log</file>
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%-30c{1}:%5L] %m\n
            </pattern>
        </encoder>
    </appender>

<!--    <appender name="JavaFxAppender" class="br.com.looplex.JavaFxAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--&lt;!&ndash;        <encoder>&ndash;&gt;-->
<!--&lt;!&ndash;            <pattern>&ndash;&gt;-->
<!--&lt;!&ndash;                [%-5p] %m\n&ndash;&gt;-->
<!--&lt;!&ndash;            </pattern>&ndash;&gt;-->
<!--&lt;!&ndash;        </encoder>&ndash;&gt;-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="JavaFxAppender"/>-->
    </root>

</configuration>